div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.link.black {
    font-weight: bold;
    color: #bad444;
    text-decoration: none;
}

.link.white {
    font-weight: bold;
    color: 	blueviolet;
    text-decoration: none;
}

.keyword {
    font-weight: bold;
    color: yellowgreen;
}

.note.black {
    color: white;
    margin: 3px;
    padding: 2px;
    background-color: #222222;
    border-radius: 5px;
}

.note.white {
    color: #222222;
    margin: 3px;
    padding: 2px;
    background-color: #ffffff;
    border-radius: 5px;
}

.definition.white {
    background-color: #eeeeee;
    margin: 15px;
    margin-bottom: 12px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}

.definition.black {
    background-color: #333333;
    margin: 15px;
    margin-bottom: 12px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}

.example.black{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -3px;
    margin-bottom: -15px;
    border-radius: 5px;
    padding: 16px;
    padding-bottom: 10px;
    text-align:center;
    background-color: #333333;
}

.example.white {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -3px;
    margin-bottom: -15px;
    border-radius: 5px;
    padding: 16px;
    padding-bottom: 10px;
    text-align:center;
    background-color: #eeeeee;
}

.body.black{
    font-size: 18px;
    
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding:15px;
    border-radius: 5px;
    background-color: #333333;
}

.body.white{
    font-size: 18px;
    
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding:15px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.text.white{
    font-size: 18px;
    color: black;
    background-color: white;
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text.black{
    font-size: 18px;
    color: white;
    background-color: #222222;
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.tooltip.black {
    border-radius: 20px;
    padding: 15px;
    
    color: darkslategrey;
    background-color: aliceblue;
    max-width: 360px;

    position: absolute;
    display: none;
    z-index: 1;
}


.tooltip.white {
    border-radius: 20px;
    padding: 15px;
    color: aliceblue;
    background-color: #686565;
    max-width: 360px;

    position: absolute;
    display: none;
    z-index: 1;
}

span:hover > .tooltip {
    display: inline-block;
}
