div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.link {
    font-weight: bold;
    color: rgb(37, 74, 197);
}

.keyword {
    font-weight: bold;
    color: yellowgreen;
}

.note {
    color: rgb(0, 0, 0);
    margin: 3px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 5px;
}

.definition {
    margin: 5px;
}
.example{
    margin: 5px;
}

.body{
    margin: 5px;
}

.tooltip {
    border-radius: 20px;
    padding: 15px;
    
    background-color: aliceblue;
    max-width: 360px;

    position: absolute;
    display: none;
    z-index: 1;
}

span:hover > .tooltip {
    display: inline-block;
}


.key, .def, .examples {
    color: darkslategrey;
}