div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.link {
    font-weight: bold;
    color: #0088cc;
}

.keyword {
    font-weight: bold;
    color: yellowgreen;
}

.note {
    color: #FFFFFF;
    margin: 3px;
    padding: 2px;
    background-color: #222222;
    border-radius: 5px;
}

.definition {
    background-color: #333333;
    margin: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}
.example{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -3px;
    margin-bottom: -15px;
    border-radius: 5px;
    padding: 16px;
    text-align:center;
    background-color: #333333;

}

.body{
    
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding:15px;
    border-radius: 5px;
    background-color: #333333;
}

.tooltip {
    border-radius: 20px;
    padding: 15px;
    
    background-color: aliceblue;
    max-width: 360px;

    position: absolute;
    display: none;
    z-index: 1;
}

span:hover > .tooltip {
    display: inline-block;
}


.key, .def, .examples {
    color: darkslategrey;
}