.App {
  background-color: #202020;
}
body{
  background-color: #222222;
}
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%; /* change this value to 100% to make the output take up entire screen */
  position: fixed;
  z-index: 1;
  top: 10%; /*height of toolbar*/
  overflow-x: hidden;

}

/* Control the left side */
.left {
  left: 0;
  display: flex;
  flex-direction: column;
}

/* Control the right side */
.right {
  right: 0;

  background-color: #222222;
  
}

textarea {
  width: 98%;
  display: flex;
  flex: 1;
  border: none;
  resize: none;
  background-color: #222222;
  color: white;
  border-radius: 15px;
  padding-left:5px;
  padding-right: 5px;
  margin-left: 5px;
}

/*TOOLBAR*/
#TOOLBAR ul{
  display: flex;
  background-color: rgb(17, 17, 17);
  color: white;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*LEFT BUTTON*/
.button {
  border-radius: 4px;
  background-color: #0088cc;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  left:0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* RIGHT BUTTON */
.buttonright {
  border-radius: 4px;
  background-color: #ff5fe4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  right:0;
}

.buttonright span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonright span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.buttonright:hover span {
  padding-left: 20px;
}

.buttonright:hover span:after {
  opacity: 1;
  left: 0;
}

/*get rid of scrollbar showing up*/
::-webkit-scrollbar{
  display: none;
}