.App {
  background-color: #202020;
}
body{
  background-color: #222222;
}
/* Split the screen in half */
.split {
  height: 88%;
  width: 50%; /* change this value to 100% to make the output take up entire screen */
  position: fixed;
  z-index: 1;
  /*top: 10%; /*height of toolbar*/
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  display: flex;
  flex-direction: column;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #222222;
  
}

textarea {
  width: 98%;
  display: flex;
  flex: 1;
  border: none;
  resize: none;
  background-color: #222222;
  color: white;
  font-size: 16px;
  padding-left:5px;
  padding-right: 5px;
  margin-left: 5px;
  
}

::-webkit-scrollbar { 
  display: none; 
}

/*TOOLBAR*/
#TOOLBAR{
  display: flex;
  background-color: rgb(17, 17, 17);
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  height: 70px;
}
#TOOLBAR ul{
  width: 100%;
}
#TOOLBAR ul li{
  width: 80%;
  float: right;
  margin-left: 0;
  padding: 0;
  list-style: none;
}



/* BUTTON COMPILE */
.buttoncompile {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;

  border-radius: 4px;
  background-color: white;
  border: none;
  color: rgb(255, 69, 0);
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 18%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  left:0;
}
.buttoncompile span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttoncompile span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttoncompile:hover span {
  padding-right: 25px;
}
.buttoncompile:hover span:after {
  opacity: 1;
  right: 0;
}



/* BUTTON VIEWS */
.buttonviews {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;

  border-radius: 4px;
  background-color: rgb(255, 69, 0);
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 18%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  right:0;
}
.buttonviews span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonviews span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.buttonviews:hover span {
  padding-left: 20px;
}
.buttonviews:hover span:after {
  opacity: 1;
  left: 0;
}


/*BUTTOM NORMAL*/
.buttonnormal {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;

  border-radius: 4px;
  background-color: rgb(255, 69, 0);
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 18%;
  transition: all 0.5s;
  margin: 5px;
  right:0;
}
.buttonnormal span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonnormal span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.buttonnormal:hover span {
  padding-left: 20px;
}
.buttonnormal:hover span:after {
  opacity: 1;
  left: 0;
}




/*get rid of scrollbar showing up*/
::-webkit-scrollbar{
  display: none;
}